@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

body {
	background-image: url("https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&h=550&q=75&w=1050");
	background-attachment: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
	width: 100%;
	position: fixed;
	top: 0;
}

ul {
	text-align: center;
	word-spacing: 60px;
}

a {
	text-decoration: none;
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
}

a:hover {
	color: #50596A;
}

h1 {
	font-size: 70px;
	color: white;
	text-align: center;
	padding-top: 220px;
	font-family: Montserrat,sans-serif;
}